.form-container {
    margin: 2% 6% 2% 6%;
}

.full-width {
    width: 100%;
    margin-bottom: 10px;
}

.mat-radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
  }
  
  .mat-radio-button {
    margin-left: 5px;
  }